<div fxLayout="row wrap" fxFlex="100">
  <mat-card class="instruction" oncopy="return false" oncut="return false">
    <h2>Scenariusz 5</h2>
    <span>W ostatnim etapie proszę podać jakie informację są dla Ciebie interesujące</span>
    <br/>
    <br/>
    <span><b>DANE:</b></span>
    <br/>
    <span>Chcesz otrzymywać powiadomienia o:</span><br/>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <ul>
          <li><b>Promocjach</b></li>
          <li><b>Zmianie statusu zamówienia</b></li>
        </ul>
      </div>
    </span>
    <br/>
    <span>Nie chcesz otrzymywać powiadomień o: </span>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <ul>
          <li><b>Nowościach</b></li>
          <li><b>Niedokończonych transakcjach</b></li>
        </ul>
      </div>
    </span>
    <br/>
    <br/>
    <div class="warning-message">
      <span>Uwaga:</span>
      <br/>
      <div matTooltip="Kopiowanie jest zablokowane">
        <span>Nie można kopiować danych!</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [editable]="false" label="Wprowadzenie" state="infoIcon">
        <form>
          <span>W tym etapie ...</span>
          <div>
            <button mat-raised-button color="primary" (click)="stepConfirm()"
                    class="next-step-button"><span>Dalej</span></button>
          </div>
        </form>
      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{index}}</ng-template>

      <mat-step [editable]="false" label="Opcje">
        <div *ngIf="this.userService.variant === 1">
          <app-options-checkbox [startTime]="stepStartTime"
                                (finish)="stepConfirm()"></app-options-checkbox>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-options-selector [startTime]="stepStartTime"
                                (finish)="stepConfirm()"></app-options-selector>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Opcje">
        <div *ngIf="this.userService.variant === 1">
          <app-options-slide-toggle [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-options-slide-toggle>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-options-radio-button [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-options-radio-button>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Opcje">
        <div *ngIf="this.userService.variant === 1">
          <app-options-button-toggle [startTime]="stepStartTime"
                                     (finish)="stepConfirm()"></app-options-button-toggle>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-options-button [startTime]="stepStartTime"
                              (finish)="stepConfirm()"></app-options-button>
        </div>
      </mat-step>


      <mat-step [stepControl]="summaryFormGroupScenario3" [editable]="false" label="Podsumowanie"
                state="summaryIcon">
        <form [formGroup]="summaryFormGroupScenario3">
          todo: summary survey
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()" class="next-step-button">
            <span>Dalej</span>
          </button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
