<div fxLayout="row wrap" fxFlex="100">
  <mat-card class="instruction">
    <h2><span translate>scenario</span> 2</h2>
    <span translate>test3.description</span>
    <br/>
    <br/>
    <b><span translate>data</span>:</b>
    <br/>
    <b><span translate>message</span>: </b>
    <br/>
    <span translate>test3.data1</span>
    <br/>
    <br/>
    <span translate class="warning-message">goBackWarning</span>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [editable]="false" label="{{'intro' | translate}}" state="infoIcon">
        <form>
          <span translate>test3.intro</span>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="introConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{index}}</ng-template>

      <mat-step [stepControl]="firstFormGroupScenario3" [editable]="false" label="{{'typing' | translate}}">
        <form [formGroup]="firstFormGroupScenario3">
          <mat-form-field class="full-width">
            <textarea matInput class="text-area" placeholder="{{'message' | translate }}" formControlName="firstCtrlScenario3" rows="6" required></textarea>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="firstConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroupScenario3" [editable]="false" label="{{'speechRecognition' | translate}}">
        <form [formGroup]="secondFormGroupScenario3">
          <app-web-speech></app-web-speech>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="secondConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="summaryFormGroupScenario3" [editable]="false" label="{{'summary' | translate}}"
                state="summaryIcon">
        <form [formGroup]="summaryFormGroupScenario3">
          todo: summary survey for dates
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()" class="next-step-button"><span
            translate>next</span></button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
