.options-footer {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.options-panel {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.options-element {
  padding-top: 30px;
}

.options-component {
  margin-top: -8px;
  float: right;
  height: 30px;
}
mat-button-toggle {
  margin-left: 0px;
  margin-top: -7px;
}
