<div>
  <mat-form-field>
    <input matInput #datePicker
           [matDatepicker]="datePickerComponent"
           placeholder="{{'chooseDate' | translate}}"
           [formControl]="datePickerFormControl"
           [errorStateMatcher]="matcher"
           (focus)="showPicker(datePickerComponent)">
    <mat-hint>{{title}}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="datePickerComponent"></mat-datepicker-toggle>
    <mat-datepicker #datePickerComponent (closed)="datePicker.blur()"></mat-datepicker>
    <mat-error *ngIf="datePickerFormControl.hasError('required')">Wprowadź datę</mat-error>
    <mat-error *ngIf="datePickerFormControl.hasError('incorrectDate')">Niepoprawna data</mat-error>
  </mat-form-field>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateDate()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>
