<div>
  <mat-form-field>
    <input matInput #datePicker [matDatepicker]="datePickerComponent"
           placeholder="{{'chooseDate' | translate}}"
           (dateChange)="addEvent($event.target)"
           [formControl]="datePickerFormControl"
           [errorStateMatcher]="datePickerMatcher"
           (focus)="showPicker(datePickerComponent)"
           [disabled]="finished"
           required>
    <mat-datepicker-toggle matSuffix [for]="datePickerComponent"></mat-datepicker-toggle>
    <mat-datepicker #datePickerComponent (closed)="datePicker.blur()"></mat-datepicker>
    <mat-error *ngIf="datePickerFormControl.getError('incorrectDate')">Niepoprawna data</mat-error>

  </mat-form-field>
</div>
