.input-day {
  width: 60px;
}

.input-month {
  width: 110px;
  margin-left: 10px;
}

.input-year {
  width: 60px;
  margin-left: 10px;
}


.date-footer {
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
}
