
<div class="main">
  <h1>
    <span>Witaj</span>!
  </h1>
  <span>Badanie polega na wprowadzeniu podanych danych za pomocą wybranych elementów.
    Aby wykonać test należy wprowadzić dane zgodnie z instrukcją znajdującą się po lewej stronie ekranu lub na górze.
    Po wykonaniu testy należy ocenić, która z metod wprowadzania była dla Ciebie najlepsza.</span>
  <br/>
  <br/>
  <button mat-raised-button color="primary" routerLink="/usability" (click)="StartTest()"><span>Rozpocznij</span></button>
  <!--<button mat-button (click)="sendEmailConfirmation()">Send</button>-->
</div>

