
<div class="main">
  <h1>
    <span>Witaj</span>!
  </h1>
  <p style="font-size: large; margin-bottom: 40px">Badanie polega na wprowadzeniu danych z wykorzystaniem różnych metod.<br/>
    W czasie testu należy wprowadzać dane zgodnie z opisem znajdującą się po lewej stronie ekranu.<br/>
    Należy używać danych dostarczonych w opisie/scenariuszu (inne wartości nie będą akceptowane).</p>

  <div *ngIf="this.userService.testID === 0">
    <button mat-raised-button color="primary" routerLink="/usability" (click)="StartTest()"><span>Rozpocznij</span></button>
  </div>
  <div *ngIf="this.userService.testID !== 0">
    <button mat-raised-button color="primary" routerLink="/usability" (click)="StartTest()"><span>Powtórz badanie</span></button><br/>
    <button mat-raised-button color="primary" routerLink="/usability" (click)="CleanStart()" style="margin-top: 50px"><span>Rozpocznij jako nowy użytkownik</span></button>
  </div>
</div>

