<div style="padding-top: 60px; padding-left: 10px">
  <mat-horizontal-stepper id="horizontalStepper" #mainStepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span>Data</span></ng-template>
        <app-scenario4 (finished)="scenario4Done()"></app-scenario4>
        <!--<app-scenario1 (finished)="scenario1Done()"></app-scenario1>-->
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [editable]="false">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span>Liczba</span></ng-template>
        <app-scenario2 (finished)="scenario2Done()"></app-scenario2>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="false">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel><span>Ocena</span></ng-template>
        <app-scenario3 (finished)="scenario3Done()"></app-scenario3>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" [editable]="false">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel><span>Tekst</span></ng-template>
        <app-scenario4 (finished)="scenario4Done()"></app-scenario4>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup" [editable]="false">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel><span>Ustawienia</span></ng-template>
        <app-scenario5 (finished)="scenario5Done()"></app-scenario5>
      </form>
    </mat-step>
    <mat-step [stepControl]="sixthFormGroup" [editable]="false">
      <form [formGroup]="sixthFormGroup">
        <ng-template matStepLabel><span>Podsumowanie</span></ng-template>
        <app-test-summary (finished)="scenario6Done()"></app-test-summary>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>

