<p>Wariant: {{this.userService.variant}}</p>
<mat-horizontal-stepper id="horizontalStepper" #mainStepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="false">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><span >Wprowadzanie daty</span></ng-template>
      <app-scenario1 (finished)="scenario1Done()"></app-scenario1>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><span>Wprowadzanie liczb</span></ng-template>
      <app-scenario2 (finished)="scenario2Done()"></app-scenario2>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="false">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel><span>Wprowadzanie tekstu</span></ng-template>
      <app-scenario3 (finished)="scenario3Done()"></app-scenario3>
    </form>
  </mat-step>

</mat-horizontal-stepper>


