<div>
  <br/>
  <div *ngIf="!recognizing" class="speech-recognition-button">
    <button mat-raised-button (click)="startButton($event)" color="primary">
      <mat-icon>mic</mat-icon>
      <span translate>start</span></button>
  </div>
  <div *ngIf="recognizing" class="speech-recognition-button">
    <button mat-raised-button (click)="startButton($event)" color="primary">
      <mat-icon>mic_off</mat-icon>
      <span translate>stop</span></button>
  </div>
  <div *ngIf="interimTranscript !==''" class="loading-animation"><img src="./../../../../assets/img/working.svg"
                                                                      width="84"></div>
  <br/>
  <br/>
  <form>
    <mat-form-field class="speech-result-width">
      <textarea matInput
                [value]="interimTranscript ===''?finalTranscript: finalTranscript + ' ' + interimTranscript + '...'"
                (input)="updateFinalTranscript($event.target.value)" placeholder="{{'message' | translate }}"
                rows="6"></textarea>
    </mat-form-field>
  </form>
</div>




