<div>
  <br/>
  <div *ngIf="!recognizing" class="speech-recognition-button">
    <button mat-raised-button (click)="startButton($event)" color="primary">
      <mat-icon>mic</mat-icon>
      <span>Rozpocznij</span>
    </button>
  </div>
  <div *ngIf="recognizing" class="speech-recognition-button">
    <button mat-raised-button (click)="startButton($event)" color="primary">
      <mat-icon>mic_off</mat-icon>
      <span>Stop</span></button>
  </div>
  <div *ngIf="interimTranscript !==''" class="loading-animation"><img src="./../../../assets/img/working.svg"
                                                                      width="84"></div>
  <br/>
  <br/>
  <mat-form-field>
    <textarea matInput
              class="text-area"
              autocomplete="off"
              [value]="interimTranscript ===''?finalTranscript: finalTranscript + ' ' + interimTranscript + '...'"
              (input)="updateFinalTranscript($event.target.value)"
              placeholder="wiadomość"
              [formControl]="textVoiceFormControl"
              (keydown)="keyCounter()"
              rows="6"></textarea>

    <mat-hint>{{title}}</mat-hint>
    <mat-error *ngIf="textVoiceFormControl.hasError('incorrectText')">Niepoprawna wiadomość</mat-error>
  </mat-form-field>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateText()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>

