


<app-appbar (updateLanguage)="languageChangedHandler($event)" (toggleInfo)="drawer.toggle()"></app-appbar>
<mat-drawer-container class="mat-drop-container">
  <mat-drawer #drawer mode="side" class="mat-drop-sidenav-content" >
    <!--<div><span translate>language</span>: {{user.language}}<br/></div>-->
    <!--<div><span translate>IP address</span>: {{user.ipAddress}}<br/></div>-->
    <!--<div><span translate>latitude</span>: {{user.location.latitude}}<br/></div>-->
    <!--<div><span translate>longitude</span>: {{user.location.longitude}}<br/></div>-->
    <!--<div><span translate>precise location</span>: {{user.location.preciseLocation}}<br/></div>-->
    <!--<div><span translate>is eu?</span>: {{user.location.isEu}}<br/></div>-->
    <!--<div><span translate>country</span>: {{user.location.countryName}}<br/></div>-->
    <!--<div><span translate>country code</span>: {{user.location.countryCode}}<br/></div>-->
    <!--<div><span translate>continent</span>: {{user.location.continentName}}<br/></div>-->
    <!--<div><span translate>flag</span>: <img src="{{user.location.flagUrl}}"/><br/></div>-->
    <!--<div><span translate>mobile version</span>: {{user.mobileVersion}}<br/></div>-->
    <!--<div> {{userService.language}}<br/></div>-->
  </mat-drawer>
  <mat-drawer-content class="mat-drop-sidenav">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



