<!--<div fxLayout="row wrap" fxFlex="100">-->
<div fxLayout="row" fxFlex="100">
  <mat-card class="instruction" oncopy="return false" oncut="return false">
    <h2>Scenariusz 1</h2>
    <span>Właśnie zamówiłeś nową książkę.<br/></span>
    <span>Proszę podać datę odbioru zamówienia<br/>oraz datę urodzenia w celu weryfikacji.</span>
    <p style="margin-top: 30px"><b>DANE DO WPROWADZENIA:</b></p>

    <div style="font-size: 110%">
      <span>Data odbioru: </span>
      <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>24 Styczeń 2019</b>
      </div>
    </span>
      <br/>
      <span>Data urodzenia: </span>
      <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>26 Czerwiec 1991</b>
      </div>
    </span>
    </div>
    <div class="warning-message">
      <span>Uwaga!</span>
      <div matTooltip="Kopiowanie jest zablokowane">
        <span>Nie można kopiować danych!</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper linear #stepper>

      <mat-step [editable]="false" label="Wprowadzenie" state="infoIcon">
        <span style="font-size: 110%"><b>Proszę zapoznać się ze scenariuszem znajdujacym sie po lewej stronie.</b></span><br/>
        <p>Każdym etap składa się z dwóch kroków.<br/>
          - Data odbioru zamówienia<br/>
          - Data urodzenia<br/>
        </p>
        <b>Należy podać datę zgodnie z tytułem używając danych podanych w scenariuszu.</b>
        <div>
          <button mat-raised-button color="primary" (click)="stepConfirm()"
                  class="next-step-button"><span>Dalej</span></button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{Math.ceil(index/2)}}</ng-template>

      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-month-selector [dataType]="'soon'"
                                   [requiredYear]="2019"
                                   [requiredMonth]="1"
                                   [requiredDay]="24"
                                   [title]="'Data odbioru zamówienia'"
                                   [startTime]="stepStartTime"
                                   (finish)="stepConfirm()"></app-date-month-selector>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-full-selector [dataType]="'soon'"
                                  [requiredYear]="2019"
                                  [requiredMonth]="1"
                                  [requiredDay]="24"
                                  [title]="'Data odbioru zamówienia'"
                                  [startTime]="stepStartTime"
                                  (finish)="stepConfirm()"></app-date-full-selector>
        </div>
      </mat-step>
      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-month-selector [dataType]="'distant'"
                                   [requiredYear]="1991"
                                   [requiredMonth]="6"
                                   [requiredDay]="26"
                                   [title]="'Data urodzenia'"
                                   [startTime]="stepStartTime"
                                   (finish)="stepConfirm()"></app-date-month-selector>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-full-selector [dataType]="'distant'"
                                  [requiredYear]="1991"
                                  [requiredMonth]="6"
                                  [requiredDay]="26"
                                  [title]="'Data urodzenia'"
                                  [startTime]="stepStartTime"
                                  (finish)="stepConfirm()"></app-date-full-selector>
        </div>
      </mat-step>


      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-masked [dataType]="'soon'"
                           [requiredYear]="2019"
                           [requiredMonth]="1"
                           [requiredDay]="24"
                           [title]="'Data odbioru zamówienia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-masked>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-spinner [dataType]="'soon'"
                            [requiredYear]="2019"
                            [requiredMonth]="1"
                            [requiredDay]="24"
                            [title]="'Data odbioru zamówienia'"
                            [startTime]="stepStartTime"
                            (finish)="stepConfirm()"></app-date-spinner>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-masked [dataType]="'distant'"
                           [requiredYear]="1991"
                           [requiredMonth]="6"
                           [requiredDay]="26"
                           [title]="'Data urodzenia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-masked>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-spinner [dataType]="'distant'"
                            [requiredYear]="1991"
                            [requiredMonth]="6"
                            [requiredDay]="26"
                            [title]="'Data urodzenia'"
                            [startTime]="stepStartTime"
                            (finish)="stepConfirm()"></app-date-spinner>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-editable-picker [dataType]="'soon'"
                                    [requiredYear]="2019"
                                    [requiredMonth]="1"
                                    [requiredDay]="24"
                                    [title]="'Data odbioru zamówienia'"
                                    [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-date-editable-picker>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-picker [dataType]="'soon'"
                           [requiredYear]="2019"
                           [requiredMonth]="1"
                           [requiredDay]="24"
                           [title]="'Data odbioru zamówienia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-picker>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-editable-picker [dataType]="'distant'"
                                    [requiredYear]="1991"
                                    [requiredMonth]="6"
                                    [requiredDay]="26"
                                    [title]="'Data urodzenia'"
                                    [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-date-editable-picker>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-picker [dataType]="'distant'"
                           [requiredYear]="1991"
                           [requiredMonth]="6"
                           [requiredDay]="26"
                           [title]="'Data urodzenia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-picker>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Podsumowanie"
                state="summaryIcon">
        <p>Czy zadania były jasne i zrozumiałe?</p>
        <mat-radio-group [(ngModel)]="scenarioUnderstandable" (change)="scenarioUnderstandableRequiredError = false">
          <mat-radio-button style="margin-right: 20px" value="true">Tak</mat-radio-button>
          <mat-radio-button value="false">Nie</mat-radio-button>
        </mat-radio-group>
        <div style="padding-top: 10px">
          <mat-error *ngIf="scenarioUnderstandableRequiredError">Wartość jest wymagana!</mat-error>
        </div>
        <p>Czy wystąpiły jakieś problemy?</p>
        <mat-radio-group [(ngModel)]="scenarioIssues" (change)="scenarioIssuesRequiredError = false">
          <mat-radio-button style="margin-right: 20px" value="true">Tak</mat-radio-button>
          <mat-radio-button value="false">Nie</mat-radio-button>
        </mat-radio-group>
        <div style="padding-top: 10px">
          <mat-error *ngIf="scenarioIssuesRequiredError">Wartość jest wymagana!</mat-error>
        </div>
        <br/>
        <mat-form-field style="width: 300px; margin-bottom: 10px">
          <textarea matInput #commentArea
                    [(ngModel)]="scenarioComment"
                    rows="3"
                    placeholder="Komentarz (opcjonalny)"></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()">
            <span>Kolejny scenariusz</span>
          </button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
