<!--<div fxLayout="row wrap" fxFlex="100">-->
<div fxLayout="row" fxFlex="100">
  <mat-card class="instruction" oncopy="return false" oncut="return false">
    <h2>Scenariusz 1</h2>
    <span>Właśnie zamówiłeś nową książkę.<br/></span>
    <span>Proszę podać preferowaną datę odbioru zamówienia oraz datę urodzenia w celu weryfikacji.</span>
    <br/>
    <br/>
    <span><b>DANE:</b></span>
    <br/>
    <span>Data odbioru: </span>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>31 Grudzień 2018</b>
      </div>
    </span>
    <br/>
    <span>Data urodzenia: </span>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>26 Czerwiec 1991</b>
      </div>
    </span>
    <br/>
    <br/>
    <div class="warning-message">
      <span>Uwaga:</span>
      <br/>
      <div matTooltip="Kopiowanie jest zablokowane">
        <span>Nie można kopiować danych!</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper linear #stepper>
      <mat-step [editable]="false" label="Wprowadzenie" state="infoIcon">
        <form>
          <span>Każdym etap składa się z dwóch kroków.</span><br/>
          <span>Należy podać datę zgodnie z tytułem używając danych podanych w scenariuszu.</span>
          <div>
            <button mat-raised-button color="primary" (click)="stepConfirm()"
                    class="next-step-button"><span>Dalej</span></button>
          </div>

        </form>

        <!--<app-options-button-toggle [startTime]="stepStartTime"-->
                                   <!--(finish)="stepConfirm()"></app-options-button-toggle>-->

        <!--<app-options-button [startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-options-button>-->

        <!--<app-options-radio-button [startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-options-radio-button>-->

        <!--<app-options-checkbox [startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-options-checkbox>-->

        <!--<app-options-slide-toggle [startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-options-slide-toggle>-->

        <!--<app-options-selector [startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-options-selector>-->

        <!--<app-text-voice-->
        <!--[dataType]="'simpleText'"-->
        <!--[requiredText]="'test'"-->
        <!--[title]="'Wiadomość'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-text-voice>-->

        <!--<app-text-input-->
        <!--[dataType]="'simpleText'"-->
        <!--[requiredText]="'test'"-->
        <!--[title]="'Wiadomość'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-text-input>-->

        <!--<app-number-slider-rating-->
        <!--[dataType]="'rating'"-->
        <!--[requiredRate]="6"-->
        <!--[title]="'Ocena sprzedawcy [0-10]'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-number-slider-rating>-->

        <!--<app-number-spinner-rating-->
        <!--[dataType]="'rating'"-->
        <!--[requiredRate]="6"-->
        <!--[title]="'Ocena sprzedawcy [0-10]'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-number-spinner-rating>-->


        <!--<app-number-radio-rating-->
        <!--[dataType]="'rating'"-->
        <!--[requiredRate]="4"-->
        <!--[title]="'Ocena książki'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-number-radio-rating>-->


        <!--<app-number-star-rating-->
        <!--[dataType]="'rating'"-->
        <!--[requiredRate]="4"-->
        <!--[title]="'Ocena książki'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-number-star-rating>-->


      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{Math.ceil(index/2)}}</ng-template>

      <mat-step [editable]="false" label="test">

        <app-date-full-selector [dataType]="'soon'"
                                [requiredYear]="2018"
                                [requiredMonth]="12"
                                [requiredDay]="31"
                                [title]="'Data odbioru zamówienia'"
                                [startTime]="stepStartTime"
                                (finish)="stepConfirm()"></app-date-full-selector>

        <!--<div *ngIf="this.userService.variant === 1">-->
        <!--<app-date-month-selector [dataType]="'soon'"-->
        <!--[requiredYear]="2018"-->
        <!--[requiredMonth]="12"-->
        <!--[requiredDay]="31"-->
        <!--[title]="'Data odbioru zamówienia'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-date-month-selector>-->
        <!--</div>-->
        <!--<div *ngIf="this.userService.variant !== 1">-->
        <!--<app-date-full-selector [dataType]="'soon'"-->
        <!--[requiredYear]="2018"-->
        <!--[requiredMonth]="12"-->
        <!--[requiredDay]="31"-->
        <!--[title]="'Data odbioru zamówienia'"-->
        <!--[startTime]="stepStartTime"-->
        <!--(finish)="stepConfirm()"></app-date-full-selector>-->
        <!--</div>-->
      </mat-step>
      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-month-selector [dataType]="'soon'"
                                   [requiredYear]="2018"
                                   [requiredMonth]="12"
                                   [requiredDay]="31"
                                   [title]="'Data odbioru zamówienia'"
                                   [startTime]="stepStartTime"
                                   (finish)="stepConfirm()"></app-date-month-selector>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-full-selector [dataType]="'soon'"
                                  [requiredYear]="2018"
                                  [requiredMonth]="12"
                                  [requiredDay]="31"
                                  [title]="'Data odbioru zamówienia'"
                                  [startTime]="stepStartTime"
                                  (finish)="stepConfirm()"></app-date-full-selector>
        </div>
      </mat-step>
      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-month-selector [dataType]="'distant'"
                                   [requiredYear]="1991"
                                   [requiredMonth]="6"
                                   [requiredDay]="26"
                                   [title]="'Data urodzenia'"
                                   [startTime]="stepStartTime"
                                   (finish)="stepConfirm()"></app-date-month-selector>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-full-selector [dataType]="'distant'"
                                  [requiredYear]="1991"
                                  [requiredMonth]="6"
                                  [requiredDay]="26"
                                  [title]="'Data urodzenia'"
                                  [startTime]="stepStartTime"
                                  (finish)="stepConfirm()"></app-date-full-selector>
        </div>
      </mat-step>


      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-masked [dataType]="'soon'"
                           [requiredYear]="2018"
                           [requiredMonth]="12"
                           [requiredDay]="31"
                           [title]="'Data odbioru zamówienia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-masked>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-spinner [dataType]="'soon'"
                            [requiredYear]="2018"
                            [requiredMonth]="12"
                            [requiredDay]="31"
                            [title]="'Data odbioru zamówienia'"
                            [startTime]="stepStartTime"
                            (finish)="stepConfirm()"></app-date-spinner>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-masked [dataType]="'distant'"
                           [requiredYear]="1991"
                           [requiredMonth]="6"
                           [requiredDay]="26"
                           [title]="'Data urodzenia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-masked>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-spinner [dataType]="'distant'"
                            [requiredYear]="1991"
                            [requiredMonth]="6"
                            [requiredDay]="26"
                            [title]="'Data urodzenia'"
                            [startTime]="stepStartTime"
                            (finish)="stepConfirm()"></app-date-spinner>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data odbioru zamówienia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-editable-picker [dataType]="'soon'"
                                    [requiredYear]="2018"
                                    [requiredMonth]="12"
                                    [requiredDay]="31"
                                    [title]="'Data odbioru zamówienia'"
                                    [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-date-editable-picker>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-picker [dataType]="'soon'"
                           [requiredYear]="2018"
                           [requiredMonth]="12"
                           [requiredDay]="31"
                           [title]="'Data odbioru zamówienia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-picker>
        </div>
      </mat-step>

      <mat-step [editable]="false" label="Data urodzenia">
        <div *ngIf="this.userService.variant === 1">
          <app-date-editable-picker [dataType]="'distant'"
                                    [requiredYear]="1991"
                                    [requiredMonth]="6"
                                    [requiredDay]="26"
                                    [title]="'Data urodzenia'"
                                    [startTime]="stepStartTime"
                                    (finish)="stepConfirm()"></app-date-editable-picker>
        </div>
        <div *ngIf="this.userService.variant !== 1">
          <app-date-picker [dataType]="'distant'"
                           [requiredYear]="1991"
                           [requiredMonth]="6"
                           [requiredDay]="26"
                           [title]="'Data urodzenia'"
                           [startTime]="stepStartTime"
                           (finish)="stepConfirm()"></app-date-picker>
        </div>
      </mat-step>

      <mat-step [stepControl]="summaryFormGroupScenario1" [editable]="false" label="Podsumowanie"
                state="summaryIcon">
        <form [formGroup]="summaryFormGroupScenario1">
          todo: summary survey for dates
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()" class="next-step-button">
            <span>Dalej</span>
          </button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
