<div>
  <ng-form>
    <mat-form-field class="input-day">
      <input matInput #day
             type="text"
             maxlength="2"
             autocomplete="off"
             (click)="$event.target.select()"
             (keypress)="NumberOnly($event)"
             (change)="validateDay()"
             [placeholder]="'Dzień'"
             [formControl]="dateMonthSelectorDayFormControl">
      <mat-error *ngIf="dateMonthSelectorDayFormControl.hasError('incorrectDate')"></mat-error>
    </mat-form-field>
    <mat-form-field class="input-month">
      <mat-select matSelect #month
                  [formControl]="dateMonthSelectorMonthFormControl"
                  [placeholder]="'Miesiąc'"
                  (valueChange)="clearFormErrors($event)">
        <mat-option value="1">Styczeń</mat-option>
        <mat-option value="2">Luty</mat-option>
        <mat-option value="3">Marzec</mat-option>
        <mat-option value="4">Kwiecień</mat-option>
        <mat-option value="5">Maj</mat-option>
        <mat-option value="6">Czerwiec</mat-option>
        <mat-option value="7">Lipiec</mat-option>
        <mat-option value="8">Sierpień</mat-option>
        <mat-option value="9">Wrzesień</mat-option>
        <mat-option value="10">Październik</mat-option>
        <mat-option value="11">Listopad</mat-option>
        <mat-option value="12">Grudzień</mat-option>
      </mat-select>
      <mat-error *ngIf="dateMonthSelectorMonthFormControl.hasError('incorrectDate')"></mat-error>
    </mat-form-field>
    <mat-form-field class="input-year">
      <input matInput #year
             type="text"
             maxlength="4"
             autocomplete="off"
             (click)="clearError($event)"
             (keypress)="NumberOnly($event)"
             (change)="validateYear()"
             [placeholder]="'Rok'"
             [formControl]="dateMonthSelectorYearFormControl">
      <mat-error *ngIf="dateMonthSelectorYearFormControl.hasError('incorrectDate')"></mat-error>
    </mat-form-field>
    <div class="date-footer">
      <mat-error *ngIf="incorrectDate">Niepoprawna data</mat-error>
      <mat-hint *ngIf="!incorrectDate">{{title}}</mat-hint>
    </div>
  </ng-form>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateDate()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" [componentType]="'dateMasked'" (finish)="submitTest($event)"></app-seq>
</div>

