<div>
  <mat-form-field>
    <input matInput #numberInput type="number"
           [formControl]="numberInputFormControl"
           [errorStateMatcher]="matcher"
           autocomplete="off">
    <mat-hint>{{title}}</mat-hint>
    <mat-error *ngIf="numberInputFormControl.hasError('required')">Wprowadź datę</mat-error>
    <mat-error *ngIf="numberInputFormControl.hasError('incorrectDate')">Niepoprawna data</mat-error>
  </mat-form-field>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateNumber()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>
