<div>
  <form>
    <mat-form-field style="width: 40px">
      <input matInput #integerValue
             type="text"
             maxlength="4"
             autocomplete="off"
             (click)="clearError($event)"
             (keydown)="NumberOnly($event)"
             (keyup)="changeFocus($event.which, decimalValue)"
             [formControl]="numberIntegerInputFormControl">
      <mat-error *ngIf="numberIntegerInputFormControl.hasError('incorrectPrice')"></mat-error>
    </mat-form-field>
    ,
    <mat-form-field style="width: 20px">
      <input matInput #decimalValue
             type="text"
             maxlength="2"
             autocomplete="off"
             (click)="clearError($event)"
             (keydown)="NumberOnly($event)"
             (keyup)="changeFocus($event.which, integerValue)"
             [formControl]="numberDecimalInputFormControl">
      <mat-error *ngIf="numberDecimalInputFormControl.hasError('incorrectPrice')"></mat-error>
    </mat-form-field>
    zł
    <div class="number-footer">
      <mat-error *ngIf="incorrectPrice">Niepoprawna cena</mat-error>
      <mat-hint *ngIf="!incorrectPrice">{{title}}</mat-hint>
    </div>
  </form>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validatePrice()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>

