<div>
  <form class="options-panel">
    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o promocjach</div>
      <mat-radio-group name="opt1" class="options-component" [(ngModel)]="option1" (change)="incorrectOptions = false" [disabled]="finished">
        <mat-radio-button [value]="true">Włącz</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" [value]="false">Wyłącz</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o nowościach</div>
      <mat-radio-group name="opt2" class="options-component" [(ngModel)]="option2" (change)="incorrectOptions = false" [disabled]="finished">
        <mat-radio-button [value]="true">Włącz</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" [value]="false">Wyłącz</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o zmianie statusu zamówienia</div>
      <mat-radio-group name="opt3" class="options-component" [(ngModel)]="option3" (change)="incorrectOptions = false" [disabled]="finished">
        <mat-radio-button [value]="true">Włącz</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" [value]="false">Wyłącz</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o niedokończonych transakcjach</div>
      <mat-radio-group name="opt4" class="options-component" [(ngModel)]="option4" (change)="incorrectOptions = false" [disabled]="finished">
        <mat-radio-button [value]="true">Włącz</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" [value]="false">Wyłącz</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="options-footer">
      <mat-error *ngIf="incorrectOptions">Niepoprawne ustawienia</mat-error>
    </div>

  </form>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateOptions()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>

