<div>
  <mat-form-field>
    <input matInput #dateSpinner type="date"
           (change)="addEvent($event.target)"
           [formControl]="dateSpinnerFormControl"
           [errorStateMatcher]="matcher"
           max="2999-12-31">
    <mat-hint>{{title}}</mat-hint>
    <mat-error *ngIf="dateSpinnerFormControl.getError('incorrectDate')">Niepoprawna data</mat-error>
  </mat-form-field>
  <app-seq [displayControl]="finished" [componentType]="'dateSpinner'" (finish)="submitTest($event)"></app-seq>
</div>
