<div>
  <div class="options-panel">

    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o promocjach</div>

      <mat-select class="options-component" [(value)]="option1" (valueChange)="incorrectOptions = false">
        <mat-option [value]="true">Włącz</mat-option>
        <mat-option [value]="false">Wyłącz</mat-option>
      </mat-select>
    </div>
    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o nowościach</div>

      <mat-select class="options-component" [(value)]="option2" (valueChange)="incorrectOptions = false">
        <mat-option [value]="true">Włącz</mat-option>
        <mat-option [value]="false">Wyłącz</mat-option>
      </mat-select>
    </div>
    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o zmianie statusu zamówienia</div>

      <mat-select class="options-component" [(value)]="option3" (valueChange)="incorrectOptions = false">
        <mat-option [value]="true">Włącz</mat-option>
        <mat-option [value]="false">Wyłącz</mat-option>
      </mat-select>
    </div>
    <div class="options-element">
      <div style="display: inline-block;">Powiadamiaj o niedokończonych transakcjach</div>

      <mat-select class="options-component" [(value)]="option4" (valueChange)="incorrectOptions = false">
        <mat-option [value]="true">Włącz</mat-option>
        <mat-option [value]="false">Wyłącz</mat-option>
      </mat-select>
    </div>

    <div class="options-footer">
      <mat-error *ngIf="incorrectOptions">Niepoprawna ustawienia</mat-error>
    </div>

  </div>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateOptions()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>

