<div fxLayout="row wrap" fxFlex="100">
  <mat-card class="instruction">
    <h2><span translate>scenario</span> 2</h2>
    <span translate>test2.description</span>
    <br/>
    <br/>
    <b><span translate>data</span>:</b>
    <br/>
    <b><span translate>entertainment</span>: </b>
    370 <span class="usability-data" translate>currency</span>
    <br/>
    <b><span translate>currentExpenses</span>: </b>
    2150 <span class="usability-data" translate>currency</span>
    <br/>
    <br/>
    <span translate class="warning-message">goBackWarning</span>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [editable]="false" label="{{'intro' | translate}}" state="infoIcon">
        <form>
          <span translate>test2.intro</span>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="introConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{Math.ceil(index/2)}}</ng-template>

      <mat-step [stepControl]="firstFormGroupScenario2" [editable]="false" label="{{'entertainment' | translate}}">
        <form [formGroup]="firstFormGroupScenario2">
          <mat-form-field>
            <input matInput type="number" formControlName="firstCtrlScenario2" placeholder="{{'amount' | translate}}"
                   required>
            <span matSuffix translate>currency</span>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="firstConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroupScenario2" [editable]="false" label="{{'currentExpenses' | translate}}">
        <form [formGroup]="secondFormGroupScenario2">
          <mat-form-field>
            <input matInput type="number" formControlName="secondCtrlScenario2" placeholder="{{'amount' | translate}}"
                   required>
            <span matSuffix translate>currency</span>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext (click)="secondConfirmation()"
                    class="next-step-button"><span translate>next</span></button>
          </div>
        </form>
      </mat-step>


      <mat-step [editable]="false" label="{{'entertainment' | translate}}">
        <mat-slider thumbLabel [(ngModel)]="slider1"
                    step="10"
                    min="0"
                    max="1000"></mat-slider>
        <form>
          <button mat-raised-button color="primary" matStepperNext (click)="thirdConfirmation()"
                  class="next-step-button"><span translate>next</span></button>
        </form>
      </mat-step>

      <mat-step [editable]="false" label="{{'currentExpenses' | translate}}">
        <mat-slider thumbLabel [(ngModel)]="slider1"
                    step="50"
                    min="0"
                    max="10000"></mat-slider>
        <form>
          <button mat-raised-button color="primary" matStepperNext (click)="fourthConfirmation()"
                  class="next-step-button"><span translate>next</span></button>
        </form>
      </mat-step>

      <mat-step [stepControl]="summaryFormGroupScenario2" [editable]="false" label="{{'summary' | translate}}"
                state="summaryIcon">
        <form [formGroup]="summaryFormGroupScenario2">
          todo: summary survey for dates
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()" class="next-step-button"><span
            translate>next</span></button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
