<!--<div fxLayout="row wrap" fxFlex="100">-->
<div fxLayout="row" fxFlex="100">
  <mat-card class="instruction" oncopy="return false" oncut="return false">
    <h2>Scenariusz 2</h2>
    <span>Aby potwierdzić zakup proszę podać<br/>cenę książki oraz oraz kod produktu.</span>
    <br/>
    <br/>
    <span><b>DANE:</b></span>
    <br/>
    <span>Cena: </span>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>59,99</b> zł
      </div>
    </span>
    <br/>
    <span>Kod produktu: </span>
    <span class="usability-data">
      <div style="display: inline-block" matTooltip="Kopiowanie jest zablokowane">
        <b>9 788375 780635</b>
      </div>
    </span>
    <br/>
    <br/>
    <div class="warning-message">
      <span>Uwaga:</span>
      <br/>
      <div matTooltip="Kopiowanie jest zablokowane">
        <span>Nie można kopiować danych!</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [editable]="false" label="Wprowadzenie" state="infoIcon">
        <form>
          <span>Każdym etap składa się z dwóch kroków.</span><br/>
          <span>Należy podać cenę oraz numer telefonu używając danych podanych w scenariuszu.</span>
          <div>
            <button mat-raised-button color="primary" (click)="stepConfirm()"
                    class="next-step-button"><span>Dalej</span></button>
          </div>

        </form>
      </mat-step>
      <ng-template matStepperIcon="number" let-index="index">{{Math.ceil(index/2)}}</ng-template>

      <mat-step [editable]="false" label="Cena">
        <app-number-input
          [dataType]="'price'"
          [requiredInteger]="'59'"
          [requiredDecimal]="'99'"
          [title]="'cena'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-number-input>
      </mat-step>
      <mat-step [editable]="false" label="Kod produktu">
        <app-number-big-input
          [dataType]="'barcode'"
          [requiredValue]="'9788375780635'"
          [title]="'Kod kreskowy'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-number-big-input>
      </mat-step>

      <mat-step [editable]="false" label="Cena">
        <app-number-spinner
          [dataType]="'price'"
          [requiredPrice]="59.99"
          [title]="'cena'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-number-spinner>
      </mat-step>

      <mat-step [editable]="false" label="Kod produktu">
        <app-number-voice
          [dataType]="'barcode'"
          [requiredValue]="9788375780635"
          [title]="'Kod kreskowy'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-number-voice>
      </mat-step>


      <mat-step [stepControl]="summaryFormGroupScenario2" [editable]="false" label="{{'summary' | translate}}"
                state="summaryIcon">
        <form [formGroup]="summaryFormGroupScenario2">
          todo: summary survey for dates
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()" class="next-step-button"><span
            translate>next</span></button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
