<div>
  <mat-toolbar color="primary">
    <!--<mat-toolbar-row>-->
      <span>TEST (english)</span>

      <span class="example-spacer"></span>
      <mat-form-field>
        <mat-label>language</mat-label>
        <mat-select [(value)]="selected" (valueChange)="changeLang(selected)">
          <mat-option value="pl">polish</mat-option>
          <mat-option value="en">english</mat-option>
        </mat-select>
      </mat-form-field>
    <!--</mat-toolbar-row>-->
  </mat-toolbar>



  <p>You selected: {{selected}}</p>
</div>
