<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>TEST</span>

      <span class="example-spacer"></span>
      <mat-form-field>
        <mat-label>Język</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Polski</mat-option>
          <mat-option value="option2">Angielski</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>



  <p>You selected: {{selected}}</p>
</div>
