<div fxLayout="row wrap" fxFlex="100">
  <mat-card class="instruction" oncopy="return false" oncut="return false">

    <h2>Scenariusz 3</h2>
    <span>Prosze uzupełnić ocenę ksiażki o komentarz<br/>oraz wiadomość do sprzedawcy.<br/></span>
    <p style="margin-top: 30px"><b>DANE DO WPROWADZENIA:</b></p>

    <div style="font-size: 110%; width: 400px">
      <span>Komentarz: </span>
      <span class="usability-data">
      <div matTooltip="Kopiowanie jest zablokowane">
        <b>pomimo kilku negatywnych opinii<br/>
          mogę szczerze polecić książkę<br/>
          wszystkim czytelnikom zwłaszcza<br/>
          na długie jesienne wieczory</b>
      </div>
    </span>
      <br/>
      <span>Wiadomość: </span>
      <span class="usability-data">
      <div matTooltip="Kopiowanie jest zablokowane">
        <b>Witam,<br/>
          piszę w sprawie zamówienia numer 543854.<br/>
          Niestety po odebraniu paczki okazało się,<br/>
          że brakuje jednej książki.<br/>
          Liczę na szybką odpowiedź.<br/>
        </b>
      </div>
    </span>
    </div>
    <div class="warning-message">
      <span>Uwaga!</span>
      <div matTooltip="Kopiowanie jest zablokowane">
        <span>Nie można kopiować danych!</span><br/>
        <span>Znaki interpunkcyjne są sprawdzane!</span><br/>
        <span>Polskie znaki są sprawdzane!</span><br/>
        <span>Wielkość liter ma znaczenie!</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="usability-content">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [editable]="false" label="Wprowadzenie" state="infoIcon">
        <span
          style="font-size: 110%"><b>Proszę zapoznać się ze scenariuszem znajdujacym sie po lewej stronie.</b></span><br/>
        <p>Każdym etap składa się z dwóch kroków.<br/>
          - Komentarza<br/>
          - Wiadomości do sprzedającego<br/>
        </p>
        <b>Należy wpisać tekst zgodnie z tytułem używając danych podanych w scenariuszu.</b>
        <div>
          <button mat-raised-button color="primary" (click)="stepConfirm()"
                  class="next-step-button"><span>Dalej</span></button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="number" let-index="index">{{Math.ceil(index/2)}}</ng-template>

      <mat-step [editable]="false" label="Komentarz">

        <app-text-input
          [dataType]="'simpleText'"
          [requiredText]="'pomimo kilku negatywnych opinii mogę szczerze polecić książkę wszystkim czytelnikom zwłaszcza na długie jesienne wieczory'"
          [title]="'Komentarz'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-text-input>
      </mat-step>

      <mat-step [editable]="false" label="Wiadomość">

        <app-text-input
          [dataType]="'complexText'"
          [requiredText]="'Witam, piszę w sprawie zamówienia numer 543854. Niestety po odebraniu paczki okazało się, że brakuje jednej książki. Liczę na szybką odpowiedź.'"
          [title]="'Wiadomość'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-text-input>
      </mat-step>

      <mat-step [editable]="false" label="Komentarz">

        <app-text-voice
          [dataType]="'simpleText'"
          [requiredText]="'pomimo kilku negatywnych opinii mogę szczerze polecić książkę wszystkim czytelnikom zwłaszcza na długie jesienne wieczory'"
          [title]="'Komentarz'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-text-voice>
      </mat-step>

      <mat-step [editable]="false" label="Wiadomość">

        <app-text-voice
          [dataType]="'complexText'"
          [requiredText]="'Witam, piszę w sprawie zamówienia numer 543854. Niestety po odebraniu paczki okazało się, że brakuje jednej książki. Liczę na szybką odpowiedź.'"
          [title]="'Wiadomość'"
          [startTime]="stepStartTime"
          (finish)="stepConfirm()"></app-text-voice>
      </mat-step>

      <mat-step [editable]="false" label="Podsumowanie" state="summaryIcon">
        <p>Czy zadania były jasne i zrozumiałe?</p>
        <mat-radio-group [(ngModel)]="scenarioUnderstandable" (change)="scenarioUnderstandableRequiredError = false">
          <mat-radio-button style="margin-right: 20px" value="true">Tak</mat-radio-button>
          <mat-radio-button value="false">Nie</mat-radio-button>
        </mat-radio-group>
        <div style="padding-top: 10px">
          <mat-error *ngIf="scenarioUnderstandableRequiredError">Wartość jest wymagana!</mat-error>
        </div>
        <p>Czy wystąpiły jakieś problemy?</p>
        <mat-radio-group [(ngModel)]="scenarioIssues" (change)="scenarioIssuesRequiredError = false">
          <mat-radio-button style="margin-right: 20px" value="true">Tak</mat-radio-button>
          <mat-radio-button value="false">Nie</mat-radio-button>
        </mat-radio-group>
        <div style="padding-top: 10px">
          <mat-error *ngIf="scenarioIssuesRequiredError">Wartość jest wymagana!</mat-error>
        </div>
        <br/>
        <mat-form-field style="width: 300px; margin-bottom: 10px">
          <textarea matInput #commentArea
                    [(ngModel)]="scenarioComment"
                    rows="3"
                    placeholder="Komentarz (opcjonalny)"></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="summaryConfirmation()">
            <span>Kolejny scenariusz</span>
          </button>
        </div>
      </mat-step>

      <ng-template matStepperIcon="infoIcon">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="summaryIcon">
        <mat-icon>insert_comment</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>
