/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html, app-root {
  height: 90%;
}


span {
  white-space: pre-wrap;
}

.horizontalStepper .mat-horizontal-content-container {
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
}
