<div style="margin-top: 15px">
  <mat-form-field>
    <input matInput #dateMasked type="date"
           [formControl]="dateMaskedFormControl"
           [errorStateMatcher]="matcher"
           max="2999-12-31"
           (keydown)="NumberOnly($event)">
    <mat-hint>{{title}}</mat-hint>
    <mat-error *ngIf="dateMaskedFormControl.hasError('required')">Wprowadź datę</mat-error>
    <mat-error *ngIf="dateMaskedFormControl.hasError('incorrectDate')">Niepoprawna data</mat-error>
  </mat-form-field>
  <div *ngIf="!finished">
    <button mat-raised-button color="primary" (click)="validateDate()" class="confirm-button">Potwierdź</button>
  </div>
  <app-seq [displayControl]="finished" (finish)="submitTest($event)"></app-seq>
</div>

